$primary-color: #8cB560;
$secondary-color: #59882B;
$light-color: #f8fbf5;
$white-color: #fff;
$black-color: #212529;
$orange-color: #FEBD00;
$bg-img: linear-gradient(to right bottom, #f8fbf5, #f7fdfa, #f9fdfe, #fdfeff, #ffffff);
$bg-img-2: linear-gradient(to right bottom, #8cb560, #82af53, #78a947, #6ea339, #639d2b);;



